body {
  margin: 0;
  font-family: "Open-sans", sans-serif;

  background: linear-gradient(180deg, rgba(227, 225, 28, 0) 82.08%, rgba(227, 255, 248, 0.38));

  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

main {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  align-items: center;
}

#training {
  width: 350px;
  margin-top: 40px;
}

button #wpp {
  width: 30px;
}

#logo-fit {
  width: 90px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 48px;
  font-family: "Mulish", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/*pseudo-class*/
ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

ul li a {
  opacity: 0.7;
}

h1,
ul {
  font-family: "Mulish", sans-serif;
}

h1 {
  color: #1f1534;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section,
p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
  width: 438px;
  margin: 40px 0;
}

button {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: white;

  background-color: #69b99d;
  border-radius: 50px;
  border-style: none;
  padding: 14px 32px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}

button:hover {
  background-color: #409779;
}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  padding-top: 300px ;
}

footer a {
  font-weight: bold;
}

#water {
  width: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
}
